<div class="main-container mat-body" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="warn" class="main-toolbar">
    <button mat-icon-button (click)="snav.toggle()" *ngIf="mobileQuery.matches">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="app-logo" src="/assets/play.png" alt="" />
    <h1 class="app-name">YouTube Surfer</h1>
  </mat-toolbar>
  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'push' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      [opened]="sidenavOpened"
    >
      <app-navbar></app-navbar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-content"><router-outlet></router-outlet></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="footer">Farkhod Alimov 2019</div>
</div>
