mat-card {
  margin: 8px 0;
}
.resource-title,
.resource-published,
.channel-title {
  color: #ff3300;
}
.resource-description {
  color: #ff8566;
}
.action-icon {
  color: #ff3300;
}
.action-icon-inactive {
  color: #cccccc;
}
